.footer
	padding: 2.5rem 0px
	background: $colBase1
	overflow: hidden
	position: relative
	width: 100%
	border-top-right-radius: 100px
	.logo
		width: 150px
	h5
		color: $colBase2
		margin: 0px 0px 1rem 0px
	li
		margin-bottom: 1rem
		a
			font-size: 0.75rem
			color: $colBase3
			font-weight: 500
			&:hover
				text-decoration: underline	
.legales
	background: $colPrim1
	margin-top: 1rem
	p
		color: $colBase2
		font-weight: 500

@mixin ndFooter-smartphone
	.footer
		.logo
			margin: 1.25rem auto
		h5, li
			text-align: center
		h5
			margin: 1.25rem 0px