// Hamburguesa
.icon-hamburguesa
	margin: 0px 0.5rem
	display: none
	&:before
		+fx(all,0.5s)
	&.activo
		&:before
			content: '\e903'

// Responsive Smartphone
@mixin hamburguesa-smartphone
	.icon-hamburguesa
		display: inline-block