// Hamburguer
.hamburguer
    +fx(all, 0.3s)
    width: 35px
    position: relative
    display: none
    &:before , &:after , span
        +fx(all, 0.3s)
        background: $colBase2
        border-radius: 10px
        content: ''
        display: block
        height: 5px
    span
        margin: 6px 0px
    &.active
        &:before
            transform: translateY(12px) rotate(45deg)
            -webkit-transform: translateY(12px) rotate(45deg)
            -moz-transform: translateY(12px) rotate(45deg)
        &:after
            transform: translateY(-11px) rotate(-45deg)
            -moz-transform: translateY(-11px) rotate(-45deg)
            -webkit-transform: translateY(-11px) rotate(-45deg)
        span
            transform: scale(0)
            -moz-transform: scale(0)
            -webkit-transform: scale(0)

// Responsive Smartphone
@mixin hamburguesa-smartphone
	.hamburguer
		display: inline-block