// Powerful
.powerful
	margin: 2rem 0px
	.multimedia, .container
		overflow: visible
	h2
		color: $colPrim3
	p
		color: $colBase1
	.multimedia
		img
			+translate(-28%, 0%)
		

@mixin powerful-smartphone
	// Powerful
	.powerful
		.cont-info
			text-align: center
		.multimedia
			img
				+transformr