// State
.state
	position: relative
	.multimedia
		max-width: 500px
	.cont-info
		max-width: 500px

// Responsive Smartphone
@mixin state-smartphone
	// State
	.state
		padding: 3rem 0px
		h2
			text-align: center
		.cont-info
			padding: 3rem 0px
			text-align: center
		.cont-info, .multimedia
			margin: auto